.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A0A;
    box-shadow: 0px 0px 12px #313131;
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    padding: .1rem 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.coin-name {
    margin-left: -.4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A0A;
    box-shadow: 0px 0px 12px #313131;
    border-radius: 8px;
    font-size: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    padding: .4rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }

    .heading {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0rem 1rem;
    }

    .coin-row {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        padding: .3rem 1rem;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.icon {
    font-size: 2.7rem;
    color: #00f08c;
    margin-left: 1.4rem;
}

.main-head {
    font-size: 2.5rem;
}

.cyan {
    color: #16b7f2;
}

.red {
    color: #f50505;
}

.green {
    color: #0be044;
}

.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #0A0A0A;
    box-shadow: 0px 0px 12px #313131;
    border-radius: 8px;
}

.coin-container .content-head {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #0A0A0A;
    box-shadow: 0px 0px 12px #313131;
    border-radius: 8px;
}

.rank {
    margin-top: 1rem;
    padding-left: 1rem;
}

.rank-btn {
    border: 1px solid #16b7f2;
    box-shadow: 0px 0px 8px #16b7f2;
    background-color: #16b7f2;
    border-radius: 8px;
    padding: .2rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem;
    font-size: 1.7rem;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td,
th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,
    th {
        padding: 3px;
    }

    .rank {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 418px) {
    .info .coin-price {
        font-size: 0.898rem;
    }

    .info .coin-heading {
        font-size: 0.898rem;
        ;
    }

    .main-head {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 400px) {
    .info .coin-price {
        font-size: 0.828rem;
    }

    .info .coin-heading {
        font-size: 0.828rem;
        ;
    }

    .main-head {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 380px) {
    .info .coin-price {
        font-size: 0.769rem;
    }

    .info .coin-heading {
        font-size: 0.769rem;
        ;
    }
}

@media screen and (max-width: 470px) {
    .coin-container .content {
        max-width: 100%;
        margin: .3rem;
        padding: 0 .5rem;
    }
}