@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D0D0D;
  color: #f4f4f4;
  margin-bottom: 2rem;
}

a {
  color: #f4f4f4;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1rem;
}

code {
    font-family: 'Nunito Sans', sans-serif;
}